.icon {
		width: 1em; height: 1em;
		vertical-align: -0.15em;
		fill: currentColor;
		overflow: hidden;
}
.iconfont.icon-head103xiaoxia{
	color:  #BBBBBB;
	font-size: 11px;
}
.iconfont.icon-head103xiao{
	font-size: 11px;
}
.iconfont.icon-dianzanhongxincaise{
	color: white;
	font-size: 8px;
}
.iconfont.icon-gouwuchehong{
	color: white;
	font-size: 10px;
}
.iconfont.icon-liebiao1{
	font-size: 11px;
}
.iconfont.icon-shouji2{
	font-size: 11px;
}
.iconfont.icon-tianmao{
	color: white;
}
.iconfont.icon-tianmaochaoshigouwuche{
	color: red;
}
.iconfont.icon-tianmaodianpuLOGO{
	color: white;
	font-size:125px;
}
.iconfont.icon-liebiao1{
	font-size: 17px;
	color: white;
}
.productA .iconfont.icon-tianmaochaoshigouwuche{
	color: white;
}
.iconfont.icon-tianmaochaoshigouwuche{
	font-size: 22px;
}
.iconfont.icon-dianzanhongxincaise{
	font-size: 10px;
}
.productB .iconfont.icon-tianmao{
	font-size: 40px;
	color: #FF0036;
}
.iconfont.icon-huanyipi{
	font-size: 25px;
	color:  #A69999;
}
.iconfont.icon-shouji2{
	font-size: 19px;
}
.iconfont.icon-lanzi{
	font-size: 20px;
	font-weight: 800;
}
.iconfont.icon-feiji{
	font-size: 20px;
	font-weight: 800;
}
.iconfont.icon-xin{
	font-size: 18px;
	font-weight: 800;
}
.text-ctn .iconfont.icon-xin{
	color: red;
}
