
* {
    margin: 0;
    padding: 0;
}
#select .a:hover{
	cursor: pointer;
	color:#FFE013;
}
#select .b:hover{
	cursor: pointer;
	color:red;
}
#select .b{
	color: black;
}
ul{
	list-style: none;
}
/*右边选择栏*/
#fix{
	height: 100%;
	width: 35px;
	background: #494949;
	position: fixed;
	z-index: 10;
	right: 0px;
	top: 0;
}
#fix #cc{
	margin-top: 220px;
	width: 35px;
	background: #494949;
	color: white;
}
#fix #bb{
	margin-top: 180px;
	width: 35px;
	background: #494949;
	color: white;
}
#cc div{
	margin-bottom: 10px;
}
#bb div{
	margin-bottom: 5px;
}
#fix #cc div:nth-child(1){
	border-bottom: 1px  solid dimgray;
	margin-bottom: 15px;
}
#fix #cc div:nth-child(2){
	border-bottom: 1px  solid dimgray;
	margin-bottom: 15px;
}
#cc div i{
	padding: 7px 5px ;
	display: block;
	font-size: 16px;
}
#bb div i{
	padding: 10px 5px 10px 5px;
	display: block;
	color: white;
	font-size: 16px;
}
#cc div p{
	padding:1px 10px 10px 10px;
	font-size: 10px;
}
#cc div:hover{
	cursor: pointer;
	background: red;
}
.icon_bg{
	position: fixed;
	right: 122px;
	top: 255px;
	width: 92px;
	height: 30px;
	background: #494949;
	position: relative;
	color: white;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	opacity: 0;
}
.icon_bg span{
	display: block;
	width: 10px;
	height: 10px;
	background: #494949;
	position: absolute;
	right: -5px;
	top: 10px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
#bb div:hover{
	cursor: pointer;
	background: red;
}	
/*<!--当滚动条滑动到什么时候，上方出现搜索栏-->	*/
#seekTop{
	width: 100%;
	height: 60px;
	background: #E32C32;
	position: fixed;
	top: 0;
	z-index: 8;
	display: none;
}
#seek_1{
	width: 1280px;
	height: 50px;
	background: #E32C32;
	margin: auto;
	position: relative;
}
#seek_1 i{
	position: absolute;
	left: 0;
	top: -36px;
}
#seek_1 input{
	width: 700px;
	height: 30px;
	position: absolute;
	left: 250px;
	top: 10px;
	border: 1px solid red;
	padding-left: 5px;
}
#seek_1 button{
	width: 85px;
	height: 32px;
	position:absolute;
	left: 958px;
	background: #FF0036;
	top: 11px;
	border: 0;
	color: white;
	font-size: 16px;
	cursor: pointer;
}

/*页头最上方图片*/
#Header{
	width: 100%;
	height: 80px;
	position: relative;
}
#Header_1,#Header_3{
	height: 100%;
	width: 50%;
	float: left;
	background: #730839;
}
#Header_2{
	height: 80px;
	width: 1100px;
	z-index: 1;
	position: relative;
	top:-80px;
}
/*页头登录和选择栏*/
#select{
	width: 100%;
	min-width: 1300px;
	height: 30px;
	background: url(../img/login/TB1oNWMRFXXXXcKaXXXSutbFXXX.jpg);
	background-size: 100% 30px;
	border-bottom: 1px solid #E5E5E5;
	border-top: 1px solid red;
	position: absolute;
	top: 80px;
}
#login_select{
	/*min-width: 1000px;*/
	width:1300px;
	height: 28px;
	margin: auto;
	position: relative;
	line-height: 28px;
	color: white;
}
#login {
	width: 42%;
	height: 100%;
	position: absolute;
	left: 0;
	text-align: left;
	
}
#login a{
	font-size: 12px;
	margin-left: 15px;
}
#select_messa{
	width: 58%;
	height: 100%;
	position: absolute;
	left: 42%;
	float: left;
}
#select_messa li{
	float: left;
	font-size: 12px;
	padding:0px 7px;
	box-sizing: border-box;
	position: relative;
}
#Under_1,#favorite{
	font-size: 12px;
	color: #7A7A7A;
	margin-top: 0px;
	margin-left:-8px;
	display: none;
	z-index: 10;
	position: fixed;
	background: white;
}
#Under_1{
	width: 78px;
}
#favorite{
	width: 64px;
}
#support{
	width: 132px;
	font-size:8px;
	color: #7A7A7A;
	margin-left:-62px;
	z-index: 10;
	margin-top: 0px;
	position: fixed;
	background: white;
	display: none;
}
#support h4{
	color: #686766;
	margin-left: -80px;
}
#support li{
	border-bottom: 1px solid darkgray;
}
#support a{
	display: inline-block;
	width: 58px;
	line-height: 22px;
	float: left;
}
#site a:hover{
	text-decoration: underline;
}
#site{
	margin-right: 0px;
	/*background:gainsboro;*/
	height: 180px;
	margin-left: -1050px;
	margin-top: 0px;
	text-align: left;
	padding-left: 10px;
	display: none;
	z-index: 10;
	position: fixed;
	background: white;
}
.site_1 h3{
	color: #F6861B;
}
.site_2 h3{
	color: #6290E0;
}
.site_3 h3{
	color:#060733;
}
.site_4 h3{
	color:#6B676D;
}
.site_1{
	width: 280px;
	float: left;
	margin-right: 18px;
	margin-top: 5px;
		}
.site_2{
	width: 380px;
	float: left;
	margin-top: 5px;
	}
.site_3{
	width: 280px;
	float: left;
	margin-top: 5px;
	}
.site_4{
	width: 137px;
	float: left;
	margin-top: 5px;
	margin-left: 15px;
	}
.siteA{
	width: 90px;
	display: inline-block;
	text-decoration: none;
	color: gray;
	font-size: 12px;
	}
	
/*天猫搜索栏*/
#tmHunt{
	width: 100%;
	height: 140px;
	z-index: 0;
}
#tmHunt_1{
	width: 1300px;
	height: 140px;
	margin: auto;
	margin-top: -50px;
	position: relative;
}
#tmHunt_1 div:nth-child(1){
	position: absolute;
	left: 0px;
	top: 0;
	width: 240px;
	height: 140px;
}
#tmHunt_1 img{
	height: 100%;
	width: 100%;
}
#import_hunt{
	width: 750px;
	height: 140px;
	position: absolute;
	left: 290px;
}
#import_hunt div:nth-child(1){
	margin-top: 35px;
	height: 82px;
}
#import_hunt input{
	border: 2px #FF0036 solid;
	padding-left: 6px;
	width: 534px;
	height: 45px;
}
#import_hunt button{
	position: absolute;
	left: 543px;
	top: 0;
	width: 150px;
	background:#FF0036 ;
	color: white;
	font-size: 18px;
	font-weight: 800;
	border: 2px #FF0036 solid;
	height: 48px;
	cursor: pointer;
}
#import_hunt div:nth-child(2){
	position: absolute;
	top: 86px;
	height: 35px;
}
#import_hunt div:nth-child(2) a{
	padding: 0px 12px;
	text-decoration: none;
	color: #9E9B99;
	border-right: 1px solid #CCCCCC;
	font-size: 15px;
}
#import_hunt div:nth-child(2) a:nth-child(3n+1){
	color: #FF0046;
}
#import_hunt div:nth-child(2) a:nth-child(1){
	padding-left: 0px;
	color: #FF0046;
}
#import_hunt div:nth-child(2) a:last-child{
	color: #9E9B99;
	border-right: 0;
	
}
